<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Entity Helper" debug="false" includeentityhelper="false">
  
  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      
      <xsl:template match="/">
        <xsl:choose>
          <xsl:when test="$SectionType=''">
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="$SectionType" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
    
  </PackageTransform>
</package>