<?xml version="1.0" standalone="yes"?>

<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->

<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                xmlns:ise="urn:ise" exclude-result-prefixes="ise">
	<xsl:output method="html" omit-xml-declaration="yes" />
	
	<xsl:template match="SalesOrderHistory">

		<div id="pnlOrderHistory">

			<table id="tblOrderHistory" cellspacing="0" cellpadding="0">
				<!-- The headers -->
					<th class="tdOrderHistoryHeader"></th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.11')" disable-output-escaping="yes" />
				</th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.12')" disable-output-escaping="yes" />
				</th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.13')" disable-output-escaping="yes" />
				</th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.14')" disable-output-escaping="yes" />
				</th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.15')" disable-output-escaping="yes" />
				</th>
				<th class="tdOrderHistoryHeader">
					<xsl:value-of select="ise:StringResource('account.aspx.16')" disable-output-escaping="yes" />
				</th>

				<!-- The Rows -->
				<xsl:apply-templates select="SalesOrders/SalesOrder" />
			</table>

			<xsl:call-template name="DisplayRange">
				<xsl:with-param name="SalesOrderHistory" select="." />
			</xsl:call-template>
		</div>
		
	</xsl:template>

	<xsl:template name="DisplayRange">
		<xsl:param name="SalesOrderHistory" />
		
		<div class="OrderHistoryRange">
			<xsl:value-of select="ise:StringResource('account.aspx.28')" disable-output-escaping="yes" />&#xa0;
			<xsl:value-of select="Start" />
			<xsl:text>&#xa0;-&#xa0;</xsl:text>
			<xsl:value-of select="End" />&#xa0;
			<xsl:value-of select="ise:StringResource('account.aspx.29')" disable-output-escaping="yes" />&#xa0;
			<xsl:value-of select="Rows" />
		</div>
		
	</xsl:template>

	<xsl:template match="SalesOrder">
		<tr class="trOrderHistory">
			<td class="tdOrderHistoryRow">
				<xsl:value-of select="./Row" disable-output-escaping="yes" />
			</td>
			<td class="tdOrderHistorySalesOrderCode">
				<a>
					<xsl:attribute name="href">
						<xsl:text>receipt.aspx?OrderNumber=</xsl:text>
						<xsl:value-of select="./SalesOrderCode" disable-output-escaping="yes" />
					</xsl:attribute>
					<xsl:value-of select="./SalesOrderCode" disable-output-escaping="yes" />
				</a>
				<br />
				<br />
				<a href="javascript:void(0);" class="lnkReOrder">
					<xsl:attribute name="so">
						<xsl:value-of select="./SalesOrderCode" disable-output-escaping="yes" />
					</xsl:attribute>
					<xsl:value-of select="ise:StringResource('account.aspx.22')" disable-output-escaping="yes" />
				</a>
				<br />
			</td>
			<td class="tdOrderHistorySalesOrderDate">
				<xsl:value-of select="ise:FormatDate(./SalesOrderDate, 'MM/dd/yyyy')" disable-output-escaping="yes" />
			</td>
			<td class="tdOrderHistoryPaymentStatus">
				<!-- Payment Status -->
				<xsl:value-of select="./PaymentStatus" disable-output-escaping="yes" />
			</td>
			<td class="tdOrderHistoryShipingDate">
				<xsl:value-of select="./ShippingStatus" disable-output-escaping="yes" />
			</td>
			<td class="tdOrderHistoryTotal">
				<xsl:value-of select="ise:FormatCurrency(./Total)" disable-output-escaping="yes" />
			</td>
			<td class="tdOrderHistoryNotes">
				<xsl:value-of select="./Notes" disable-output-escaping="yes" />
			</td>
		</tr>
	</xsl:template>

</xsl:stylesheet>
