<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="producttabcontrol" debug="false" includeentityhelper="true">
  <XmlHelperPackage name="productattributetable.xml.config" />
  
  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>

      <xsl:template match="/">

        <xsl:variable name="pDescription" select="FIELD/Description"/>
        <xsl:variable name="pSummary" select="FIELD/Summary"/>
        <xsl:variable name="pWarranty" select="FIELD/Warranty"/>
        <xsl:variable name="pItemCode" select="FIELD/ItemCode"/>
        <xsl:variable name="pProductUrl" select="FIELD/ProductUrl"/>

        <!-- variables for compare javascript -->
          <!--<script type="text/javascript" Language="JavaScript">
            $(document).ready(function(){
            setItemTabPageDetails();
            });
          </script>-->
        <!-- variables for compare javascript -->

        <table id="itemdetailtabcontorl" >
          <!--tab header-->
          <tr>
            <td>
              <table style="text-align:center; height: 29px; border-collapse: collapse;">
                <tr>
                  <td id ="tabpageheader_startline" style="border-color: #000000; border-width: 1px; border-style: none none solid none; width:30px"><span> </span></td>
                  <td id ="tabpageheader_1" style="border-color: #000000; border-width: 1px; border-style: solid solid none solid; width:160px" onClick="SelectTabPageHeader(1)">Description</td>
                  <td id ="tabpageheader_2" style="border-color: #000000; border-width: 1px; border-style: solid; width:160px; background-color: Silver;" onClick="SelectTabPageHeader(2)">Specification</td>
                  <td id ="tabpageheader_3" style="border-color: #000000; border-width: 1px; border-style: solid; width:160px;background-color: Silver;" onClick="SelectTabPageHeader(3)">Summary</td>
                  <td id ="tabpageheader_4" style="border-color: #000000; border-width: 1px; border-style: solid; width:160px;background-color: Silver;" onClick="SelectTabPageHeader(4)">Rating</td>
                  <td id ="tabpageheader_5" style="border-color: #000000; border-width: 1px; border-style: solid; width:160px;background-color: Silver;" onClick="SelectTabPageHeader(5)">Warranty</td>
                  <td id ="tabpageheader_6" style="border-color: #000000; border-width: 1px; border-style: solid; width:160px; background-color: Silver;" onClick="SelectTabPageHeader(6)">Comments</td>
                  <td id ="tabpageheader_endline" style="border-color: #000000; border-width: 1px; border-style: none none solid none; width:60px"><span>          </span></td>
                </tr>
              </table>
            </td>
          </tr>

          <!---tab page content-->
          <tr>
            <td style="border-color: #000000; border-width: 1px; border-style: none none solid none;">
              <br/>
              <div id="pagetabcontent_panel">
                <div id="pagetabcontent_panel_1" style="height: 53px">
                  <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                </div>
                <div id="pagetabcontent_panel_2" style="height: 53px">
                  <xsl:value-of select="ise:SetXmlPackageHelperTemplate(0)" disable-output-escaping="yes"/>
                  <xsl:value-of select="ise:GetProductAttributeTable($pItemCode)" disable-output-escaping="yes" />
                </div>
                <div id="pagetabcontent_panel_3" style="height: 53px">
                  <xsl:value-of select="$pSummary" disable-output-escaping="yes" />
                </div>
                <div id="pagetabcontent_panel_4" style="height: 53px">
                  <xsl:value-of select="ise:ProductRatings($pItemCode)" disable-output-escaping="yes" />
                </div>
                <div id="pagetabcontent_panel_5" style="height: 53px">
                  <xsl:value-of select="$pWarranty" disable-output-escaping="yes" />
                </div>
                <div id="pagetabcontent_panel_6" style="height: 53px">
                  <div class="socialmedia_commentbox">
                    <div class="header">
                      <xsl:value-of select="ise:StringResource('showproduct.aspx.54')" disable-output-escaping="yes" ></xsl:value-of>
                    </div>

                    <div id="fb-root"></div>
                    <script></script>
                    <div class="fb-comments">
                      <xsl:attribute name="data-href">
                        <xsl:value-of select="$pProductUrl" disable-output-escaping="yes" ></xsl:value-of>
                      </xsl:attribute>
                      <xsl:attribute name="data-num-posts">100</xsl:attribute>
                      <xsl:attribute name="data-width">670</xsl:attribute>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
            </td>

          </tr>

        </table>

      </xsl:template>

      
                 
    </xsl:stylesheet>
    
  </PackageTransform>
</package>