<?xml version="1.0" encoding="utf-8" ?>
<DbConfig>
  <DbQuery id="Read_LocaleSettings" type="inline">
    SELECT * FROM LocaleSetting WITH (NOLOCK) ORDER BY DisplayOrder, Name
  </DbQuery>
  <DbQuery id="Read_AppConfigs" type="sp">
    EcommerceGetAppconfig @WebsiteCode = {0}
  </DbQuery>
  <DbQuery id="Read_AllStringResource" type="sp">
    EcommerceGetStringresource @WebsiteCode = {0}
  </DbQuery>
  <DbQuery id="Read_ProductCount" type="inline">
    SELECT COUNT(*) AS N FROM InventoryItem with (NOLOCK) WHERE Status = 'A' AND ItemType IN ('Stock', 'Non-Stock', 'Matrix Group', 'Kit', 'Service', 'Electronic Download')
  </DbQuery>
  <DbQuery id="Delete_CustomerSession" type="inline">
    DELETE EcommerceCustomerSession
  </DbQuery>
  <DbQuery id="Read_EcommerceActiveShoppersView" type="inline">
    SELECT ContactGuid FROM EcommerceActiveShoppersView WHERE RequestCode = {0}
  </DbQuery>
  <DbQuery id="Read_TotalCartItemsByCustomer" type="inline">
    SELECT SUM(quantity) AS NUMITEMS FROM EcommerceShoppingCart WITH (NOLOCK) WHERE CartType={0} AND WebSiteCode = {1} AND CustomerCode={2} AND ContactCode={3}
  </DbQuery>
  <DbQuery id="Read_IsEmailAlreadyInUse" type="inline">
    SELECT COUNT(*) AS N FROM Customer c WITH (NOLOCK) INNER JOIN CRMContact cc with (NOLOCK) ON c.CustomerCode = cc.EntityCode AND cc.[Type] = 'CustomerContact' AND cc.UserName = {0} {1} AND cc.WebSiteCode={2}
  </DbQuery>
  <DbQuery id="Read_EmailInUse" type="inline">
    SELECT COUNT(*) AS N FROM CustomerShipTo WITH (NOLOCK) WHERE CustomerCode = {0} AND ShipToCode = {1}
  </DbQuery>
  <DbQuery id="Read_Password" type="inline">
    SELECT Password, PasswordSalt, PasswordIV FROM CRMContact with (NOLOCK) WHERE ContactCode = {0}
  </DbQuery>
  <DbQuery id="Read_IsAKit" type="inline">
    SELECT CASE ItemType WHEN 'Kit' THEN 1 ELSE 0 END AS IsAKit FROM InventoryItem WITH (NOLOCK) WHERE ItemCode = {0}
  </DbQuery>
  <DbQuery id="Read_FindByEmailAndPassword" type="inline">
    SELECT c.DefaultContact, cc.ContactCode, cc.Password, cc.PasswordSalt, cc.PasswordIV, cc.ContactGUID
    FROM Customer c with (NOLOCK) INNER JOIN CRMContact cc with (NOLOCK) ON cc.Type = 'CustomerContact' AND cc.EntityCode = c.CustomerCode
    INNER JOIN EcommerceCustomerActiveSites ecas ON ecas.ContactCode = cc.ContactCode
    WHERE ecas.IsEnabled = 1 AND cc.IsAllowWebAccess=1 AND c.IsActive = 1 AND cc.IsActive = 1 AND cc.UserName = {0} AND ecas.WebsiteCode = {1} AND
    CONVERT(DATETIME, FLOOR(CONVERT(FLOAT, ISNULL(cc.SubscriptionExpirationOn, GETDATE() + 1)))) >= CONVERT(DATETIME, FLOOR(CONVERT(FLOAT, GETDATE()))) ORDER BY cc.DateCreated DESC
  </DbQuery>
  <DbQuery id="Read_AnonEmail" type="inline">
    SELECT Email FROM EcommerceAddress with (NOLOCK) WHERE CustomerID = {0}
  </DbQuery>
  <DbQuery id="Read_AllWebSiteCount" type="inline">
    SELECT COUNT(*) as N FROM EcommerceSite WITH (NOLOCK) WHERE WebSiteCode={0}
  </DbQuery>
  <DbQuery id="Create_CreateAnonCustomer" type="sp">
    EcommerceCreateAnonymousCustomer @CustomerGuid={0}, @UserName={1}, @Password={2}, @Referrer = {3}, @SalesRep = {4}, @LocaleSetting = {5}, @CurrencyCode = {6}, @LastIPAddress = {7}, @ContactGuid = {8}
  </DbQuery>
  <DbQuery id="Update_UpdateCustomerCodeToCustomerId" type="inline">
    UPDATE EcommerceCustomer SET CustomerCode = CustomerID WHERE ContactGUID = {0}
  </DbQuery>
  <DbQuery id="Read_UpdatedCustomerCodeByContactGuid" type="inline">
    SELECT CustomerCode FROM EcommerceCustomer with (NOLOCK) WHERE ContactGUID = {0}
  </DbQuery>
  <DbQuery id="Read_FindCustomer" type="sp">
    EXEC EcommerceGetCustomer @ContactGuid = {0}, @WebsiteCode = {1}, @CurrentDate = {2}
  </DbQuery>
  <DbQuery id="Update_ECommerceUpdateCustomer" type="sp">
    eCommerceUpdateCustomer
  </DbQuery>
  <DbQuery id="Update_AnonymousCart" type="sp">
    EXEC EcommerceUpdateCart @CartType = {0}, @CustomerCode = {1}, @AnonymousCode = {2}, @DefaultShiptoCode = {3}, @ContactCode= {4}
  </DbQuery>
  <DbQuery id="Read_ClearCart" type="sp">
    EXEC EcommerceClearCart @CartType = {0}, @CustomerCode = {1}, @ContactCode = {2}
  </DbQuery>
  <DbQuery id="Read_OwnsThisAddress" type="inline">
    SELECT COUNT(*) AS N FROM CustomerShipTo WITH (NOLOCK) WHERE CustomerCode={0} AND ShipToCode={1}
  </DbQuery>
  <DbQuery id="Read_RedirectURL" type="inline">
    SELECT OldPath, NewPath FROM EcommerceStoreURLRedirect WITH (NOLOCK) WHERE WebsiteCode = {0}
  </DbQuery>  
  <DbQuery id="Read_InventoryPreferenceForCache" type="inline">
    SELECT IsAllowFractional, QuantityDecimalPlace FROM InventoryPreference WITH(NOLOCK)
  </DbQuery>
  <DbQuery id="Read_ShippingMethodCodeRequiredChecking" type="inline">
    SELECT ShippingMethodCode FROM SystemShippingMethod with (NOLOCK) WHERE ShippingMethodCode = {0}
  </DbQuery>
  <DbQuery id="Read_PaymentTermCodeRequiredChecking" type="inline">
    SELECT PaymentTermCode FROM SystemPaymentTerm with (NOLOCK) WHERE PaymentTermCode = {0}
  </DbQuery>
  <DbQuery id="Delete_ClearKitItems" type="inline">
    DELETE FROM EcommerceKitCart WHERE CustomerCode = {0} AND ItemKitCode = {1} AND CartID = {2}
  </DbQuery>
  <DbQuery id="Get_ShippingMethodGroupByShipToCode" type="inline">
    SELECT ShippingMethodGroup FROM CustomerShipTo WITH (NOLOCK) WHERE ShipToCode = {0}
  </DbQuery>
  <DbQuery id="Get_ShippingMethodGroupInSystemShippingMethodGroupDetailByShippingMethodCode" type="inline">
    SELECT ShippingMethodGroup FROM SystemShippingMethodGroupDetail with (NOLOCK) WHERE ShippingMethodGroup = {0} AND ShippingMethodCode = {1}
  </DbQuery>
  <DbQuery id="Get_ShippingMethodGroupByGroupCode" type="inline">
    SELECT ShippingMethodGroup FROM  SystemShippingMethodGroup WHERE ShippingMethodGroup = {0}
  </DbQuery>
  <DbQuery id="Get_PaymentTermCodeInSystemPaymentTermGroupDetail" type="inline">
    SELECT PaymentTermCode FROM SystemPaymentTermGroupDetail with (NOLOCK) WHERE PaymentTermCode = {0} AND PaymentTermGroup = {1}
  </DbQuery>
  <DbQuery id="Get_CBNCustomerCode" type="inline">
    SELECT CustomerCode FROM Customer WHERE CBNNetworkId = {0}
  </DbQuery>
  <DbQuery id="Get_InventoryItemType" type="inline">
    SELECT ItemType FROM InventoryItem with (NOLOCK) WHERE ItemCode = {0}
  </DbQuery>    
  <DbQuery id="Get_InventoryItemCounter" type="inline">
    SELECT Counter FROM InventoryItem with (NOLOCK) WHERE ItemCode = {0}
  </DbQuery>    
  <DbQuery id="Update_ClearEcommerceCartShippingAddressIDForAnonCustomer" type="inline">
    UPDATE ecommerceShoppingCart SET ShippingAddressID = null WHERE CustomerCode={0} AND WebSiteCode = {1}
  </DbQuery>
  <DbQuery id="Read_EcommerceCheckOutOptions" type="sp">
    EXEC ReadEcommerceCheckOutOptions @WebSiteCode={0}, @ContactCode={1}, @IsAnonymous={2}, @LanguageCode={3}, @CurrentDate={4}, @ProductFilterID={5}
  </DbQuery>
  <DbQuery id="Read_InventoryItem" type="inline">
    SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, II.IsDropShip, II.IsSpecialOrder, II.IsCBN, II.CBNItemID, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK)
    INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode
    WHERE IID.LanguageCode = {0} AND II.ItemCode = {1}
  </DbQuery>
  <DbQuery id="Read_InventoryItems" type="inline">
    SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK)
    INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode
    WHERE IID.LanguageCode = {0}
  </DbQuery>
  <DbQuery id="Read_InventoryItemsWithNoImages" type="inline">
    SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK)
    INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode
    WHERE IID.LanguageCode = {0} AND II.ItemCode NOT IN (SELECT ItemCode FROM InventoryOverrideImage WITH (NOLOCK))
  </DbQuery>
  <DbQuery id="Read_InventoryCategories" type="inline">
    SELECT IC.ItemCode, IC.CategoryCode, SCD.[Description] FROM InventoryCategory IC WITH (NOLOCK)
    INNER JOIN SystemCategoryDescription SCD WITH (NOLOCK) ON SCD.CategoryCode = IC.CategoryCode
    WHERE SCD.LanguageCode = {0}
  </DbQuery>
  <DbQuery id="Read_SystemCategories" type="inline">
    SELECT  SC.CategoryCode, SCD.[Description]  FROM SystemCategory SC WITH (NOLOCK)
    INNER JOIN SystemCategoryDescription SCD WITH (NOLOCK) ON SCD.CategoryCode = SC.CategoryCode
    WHERE SCD.LanguageCode = {0}
  </DbQuery>
  <DbQuery id="Read_ItemImages" type="inline">
    SELECT ItemCode, ImageIndex, [FileName], IsDefaultIcon, IsDefaultMedium FROM InventoryOverrideImage WITH (NOLOCK) WHERE WebSiteCode = {0} AND ItemCode = {1}
  </DbQuery>
  <DbQuery id="Read_EcommerceCustomerWebOrder" type="sp">
    EXEC ReadEcommerceCustomerWebOrder @CustomerCode = {0}, @WebSiteCode = {1}, @Pages = {2}, @Current = {3}, @ContactCode = {4}
  </DbQuery>
  <DbQuery id="Delete_ShoppingCartItems" type="inline">
    DELETE EcommerceShoppingCart WHERE ShoppingCartRecGuid IN ({0})
  </DbQuery>
  <DbQuery id="Delete_ShoppingCartCustomerReservation" type="inline">
    DELETE EcommerceShoppingCartReservation WHERE ContactCode = {0}
  </DbQuery>
  <DbQuery id="Delete_ShoppingCartKitComposition" type="inline">
    DELETE EcommerceKitCart WHERE CartId IN ({0})
  </DbQuery>
  <DbQuery id="Read_EcommerceShoppingCart" type="inline">
    SELECT ShoppingCartRecId, ShoppingCartRecGuid, ItemCode, Quantity, RequiresCount, CartType FROM EcommerceShoppingCart WITH (NOLOCK) WHERE ShoppingCartRecID = {0}
  </DbQuery>
  <DbQuery id="Get_ItemWeight" type="inline">
    SELECT WeightInPounds FROM InventoryUnitMeasure with (NOLOCK) WHERE ItemCode = {0} AND UnitMeasureCode = {1}
  </DbQuery>
  <DbQuery id="Get_IsShopperCodeUsed" type="inline">
    SELECT 1 FROM EcommerceActiveShoppers WITH (NOLOCK) WHERE CAST(customerCode AS NVARCHAR(50)) = {0}
  </DbQuery>
  <DbQuery id="Delete_InActiveShoppers" type="inline">
    DELETE EcommerceActiveShoppers WHERE DATEDIFF(hour, CONVERT(VARCHAR(50), TimeStarted, 22), CONVERT(VARCHAR(50), {0}, 22)) >= {1}
  </DbQuery>
  <DbQuery id="Create_ActiveShoppers" type="inline">
    INSERT INTO EcommerceActiveShoppers(ActiveShoppersId, RequestCode, CustomerCode, ContactGuid, WebsiteCode, TimeStarted, DateCreated) values({0},{1},{2},{3},{4},{5},{6})
  </DbQuery>
  <DbQuery id="Get_ActiveShopperRequestCodeByCustomerCode" type="inline">
    SELECT RequestCode FROM EcommerceActiveShoppers WITH (NOLOCK) WHERE CAST(customerCode AS NVARCHAR(50)) = {0}
  </DbQuery>
  <DbQuery id="Read_DealersFromCustomerAsWareHouse" type="inline">
    SELECT DISTINCT C.CustomerName AS Description, c.Country, P.Counter, P.PostalCode, P.County, P.City, C.Address, C.State, P.Latitude, P.Longitude, P.IsActive 
    FROM SystemPostalCode P INNER JOIN Customer C ON P.PostalCode = C.PostalCode AND P.CountryCode = C.Country AND P.City = C.City AND (IsNull(C.county, P.County) = P.County) 
    WHERE C.IsActive = 1 AND C.CustomerTypeCode = 'Dealer' AND C.ShowOnStoreLocator = 1
  </DbQuery>
  <DbQuery id="Get_CustomerNotes" type="inline">
    SELECT Notes AS S from Customer WHERE CustomerCode = {0}
  </DbQuery>
  <DbQuery id="Update_CustomerNotes" type="inline">
    UPDATE Customer SET Notes = {0} WHERE CustomerCode = {1}
  </DbQuery>
  <DbQuery id="Get_UseCustomerPricingForKit" type="inline">
    SELECT IsGetItemPrice FROM InventoryKit WHERE ItemKitCode = {0}
  </DbQuery>
  <DbQuery id="Get_KitDiscount" type="sp">
    EXEC GetEcommerceKitDiscount @ItemKitCode = {0}, @ContactCode = {1}
  </DbQuery>
  <DbQuery id="Get_SelectedKitComponents" type="sp">
    EXEC GetEcommerceSelectedKitComponents @ItemKitCode = {0}, @CurrencyCode = {1}, @WebsiteCode = {2}, @CartId = {3}, @IsAnonymous = {4}, @CustomerCode = {5}, @AnonymousCustomerCode = {6}, @ContactCode= {7}, @ShowDefault = {8}
  </DbQuery>

</DbConfig>